<div class="chatbox">
    <div class="input">
        <input placeholder="Send a message to {{ name }}" id="msgData" (blur)="isBlur()" (keyup.enter)="sendMessage()">
    </div>
    <ng-container *ngIf="blur?false:true"> <hr> </ng-container>
    <ng-container *ngIf="showFormat">
        <div class="format">
            <div class="format-left">
                <img src="https://img.icons8.com/fluent-systems-regular/24/000000/flash-on.png"/>
                <i class="far fa-bold"></i>
                <i class="far fa-italic"></i>
                <i class="fal fa-strikethrough"></i>
                <i class="fal fa-code"></i>
                <i class="fal fa-link"></i>
                <i class="fal fa-list-ol"></i>
                <i class="fal fa-list"></i>
                <i class="fal fa-outdent"></i>
            </div>
            <div class="format-right">
                <button  (click)="changeFormat()" class="pointer">Aa</button>
                <i class="fal fa-at pointer"></i>
                <i class="fal fa-smile pointer"></i>
                <i class="far fa-paperclip pointer"></i>
                <span class="material-icons send-msg pointer" (click)="sendMessage()" >send</span>
            </div>
            
        </div>
    </ng-container>
</div>
