$border-color : 1px solid rgb(128, 125, 125);
.chatbox {
    border: $border-color;
    border-radius: 5px;
    width: 95%;
    overflow: hidden;
    margin: 2%;
    height: fit-content;
    input {
        height: 40px;
        width: 100%;
        border: none;
        font-size: medium;
        padding-left: 1em;
    }
    .format{
        height: 40px;
        width: 100%;
        background-color: rgb(238, 236, 236);
        display: flex;
        justify-content: space-between;
        div {
            padding-right: 1em;
            display: flex;
            width: 150px;
        }
    }
    hr{
        margin: 0%;
    }
    .format-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            font-size: 1em;
            opacity: 0.2;
            border: none;
            &:hover {
                opacity: 0.3;
            }
        }
        .send-msg {
            object-fit: cover;
            height: 1em;
            width: 1em;
            padding: 0.3em;
            font-size: 1.2em;
            opacity: 0.2;
            &:hover {
                opacity: 0.3;
            }
            &:active {
                opacity: 1;
                color: #fff;
                background-color: rgb(9, 82, 21);
            }
        }
        .fa-smile {
            &:hover {
                background-color: rgb(255, 217, 0);
                border-radius: 50%;
                opacity: 2;
            }
        }
        .fa-paperclip {
            font-weight: lighter;
            transform: rotate(135deg);
        }
    }
    .format-left {
        min-width: 15em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1em;
        img {
            opacity: 0.5;
            height: 18px;
            width: 18px;
            padding-right: 0.3em;
            border-right: 1px solid rgb(114, 113, 113);
        }
    }

}
