<div class="chatbox">
    <div class="input">
        <input placeholder="Send a message to #general" id="msgData" (blur)="isBlur()">
    </div>
    <ng-container *ngIf="blur?false:true"> <hr> </ng-container>
    <ng-container *ngIf="showFormat">
        <div class="format">
            <div>
            </div>
            <div class="format-right">
                <button  (click)="changeFormat()" class="pointer">Aa</button>
                <i class="fal fa-at pointer"></i>
                <i class="fal fa-smile pointer"></i>
                <i class="far fa-paperclip pointer"></i>
                <span class="material-icons send-msg pointer" (click)="addmsg()" >send</span>
            </div>
            
        </div>
    </ng-container>
</div>
