<p>aside works!</p>

<div class="container">
    <div class="actions">
        <div class="actions-container">
            <div class="action tooltip">
                <i class="action-icon far fa-user-plus"></i>
                <span class="action-description">Add</span>
                <span class="tooltip-text">
                    Add people to {{'#general'}}
                </span>
            </div>
            <div class="action tooltip">
                <i class="action-icon fal fa-file-search"></i>
                <span class="action-description">Find</span>
                <span class="tooltip-text">
                    Find in {{ '#general' }}
                </span>
            </div>
            <div class="action tooltip">
                <i class="action-icon fal fa-phone-alt"></i>
                <span class="action-description">Call</span>
                <span class="tooltip-text">
                    Start a call
                </span>
            </div>
            <div class="action tooltip">
                <i class="action-icon fas fa-ellipsis-h"></i>
                <span class="action-description">More</span>
                <span class="tooltip-text">
                    More options for
                    <br>
                    {{ '#general' }}
                </span>
            </div>
        </div>
    </div>

    <div class="about collapsible">
        <div class="collapsible-header">
            About
        </div>
        <div class="collapsible-content">
            <div class="collapsible-content-container">
                <div class="about-content">
                    <span class="heading"> Topic </span>
                    <p class="content">
                        What’s up for discussion?
                    </p>
                    <a class="edit"> Edit </a>
                </div>
                <div class="about-content">
                    <span class="heading"> Description </span>
                    <p class="content">
                        This is the one channel that will always include everyone. It’s a great spot for announcements and team-wide conversations.
                    </p>
                    <a class="edit"> Edit </a>
                </div>
                <div class="about-content about-created">
                    <img src="assets/images/profile-1.png" />
                    <span class="created-date"> Created on September 4, 2020 </span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="collapsible">
        <div class="collapsible-header">
            Section 2
        </div>
        <div class="collapsible-content">
            Content 2
        </div>
    </div>
    <div class="collapsible">
        <div class="collapsible-header">
            Section 3
        </div>
        <div class="collapsible-content">
            Content 3
        </div>
    </div>

    <div class="about">

    </div>
    
    <button mat-raised-button color="primary"> Primary </button>
</div>