$black: #000000;
$white: #FFFFFF;
$blue: #1264A3;
$bg-darkest: #C0C0C0;
$bg-dark: #E6E6E6;
$bg-med: rgb(220, 220, 220);
$bg-light: #F6F6F6;
$text-dark: #606060;
$text-light: #6F6F6F;

.container {
    height: 100%;
    border-right: 1px solid $bg-med;

    .header, .actions, .menu-section > * {
        background-color: $white;
        border-bottom: 1px solid $bg-med;
        color: $text-dark;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 0px 15px;

        .left {
            display: flex;
            flex-direction: column;

            .title {
                font-size: 15px;
                font-weight: 600;
                color: $black;
            }
        }

        .right {
            padding: 5px 10px;
            font-size: 20px;
            border-radius: 4px;

            &:hover {
                background-color: $bg-light;
                cursor: pointer;
            }
        }
    }

    .actions {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    
        .actions-container {
            width: 300px;
            display: flex;
            justify-content: space-between;

            .action {
                height: 70px;
                width: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .action-icon {
                    background-color: $bg-light;
                    height: 20px;
                    width: 20px;
                    padding: 12px;
                    font-size: 20px;
                    border-radius: 50%;
                }
                .action-icon:hover {
                    background-color: $bg-dark;
                }

                .action-description {
                    font-weight: 100;
                }
            }
            .action:hover {
                cursor: pointer;
            }
        }
    }

    .about {
        .collapsible-content-container > :first-child {
            border-radius: 4px 4px 0 0;
        }
        .collapsible-content-container > :last-child {
            border-radius: 0 0 4px 4px;
        }
        
        .about-content {
            background-color: $bg-light;
            padding: 12px;
            border-top: 1px solid $white;
            border-bottom: 1px solid $white;

            .heading {
                font-weight: 550;
                font-size: 90%;
                color: $text-light;
            }

            .content {
                margin: 0px;
            }

            .edit {
                color: $blue;
            }
            .edit:hover {
                cursor: pointer;
            }
        }
        
        .about-created {
            display: flex;
            flex-direction: row;
            align-items: center;
            
            img {
                border-radius: 4px;
            }
            
            span.created-date {
                margin: 0px 10px;
                font-weight: 100;
                font-size: 13px;
                line-height: 1.38463;

                &:hover {
                    color: $blue;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }

    .members {
        .button-section {
            height: 30px;
            display: flex;
            flex-wrap: wrap;
            padding: 15px 5px;
            
            .btn {
                background-color: $white;
                font-weight: 600;
                font-size: 15px;
                color: $text-dark;
                flex: 1;
                border: 1px solid $bg-darkest;
                border-radius: 4px;
                margin: 0px 5px;
                padding: 7px 0px;

                &:hover {
                    cursor: pointer;
                    background-color: $bg-light;
                }
            }

            .left {
                flex: 5;
            }
            .right {
                flex: 4;
            }
        }
    }
}

// Tool Tip

.tooltip .tooltip-text {
    font-weight: 550;
    font-size: 95%;
    padding: 7px 12px 7px 12px;
    top: calc(100% + 5px);
    width: max-content;
    max-width: 150px;
    left: unset;
    margin-left: unset;
}

// Expansion Panel

.menu-section {
    .collapsible-header {
        cursor: pointer;
        width: calc(100% - 30px);
        padding: 0px 15px;
        height: 50px;
        text-align: left;
        outline: none;
        font-size: 15px;
        
        display: flex;
        align-items: center;
        justify-content: space-between;

        * {
            color: $text-dark;
            font-weight: 600;
        }

        /* & {
            .active-section { display: none; }
            .inactive-section { display: block; }
        }
        &.active-header {
            .active-section { display: block; }
            .inactive-section { display: none; }
        } */
    }
    
    .collapsible-content {
        height: 0px;
        transition: height 0.2s ease-out;
        overflow: hidden;

        .collapsible-content-container {
            margin: 0px 15px 15px 15px;
        }
    }
}

// Mat Expansion Module fix

.mat-expansion-panel-spacing {
    margin: 0px;
}

// User Compoenent

.user-container {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 5px 15px;
    border: none;
    color: $text-dark;

    &:hover {
        background-color: $blue;
        cursor: pointer;
        color: $white;
    }

    > * {
        margin-right: 10px;
    }

    .dp {
        height: 20px;
        width: 20px;
        border-radius: 4px;
    }

    .name span {
        font-weight: 600;
    }

    .is-active {
        .active {
            background-color: green;
            height: 10px;
            width: 10px;
            border-radius: 50%;
        }
        .inactive {
            border-radius: 50%;
            height: 6px;
            width: 6px;
            border: 2px solid $text-light;
        }
    }
}