$white: #FFFFFF;
$blue: #1264A3;
$bg-dark: #F0F0F0;
$bg-med: #E6E6E6;
$bg-light: #F6F6F6;
$text-dark: #606060;
$text-light: #6F6F6F;

.container {
    background-color: rgba($color: #000000, $alpha: 0.3);
    height: 100%;
<<<<<<< HEAD
    position: absolute;
=======
>>>>>>> top-nav-bar

    .actions, .collapsible {
        background-color: $white;
        border-top: 1px solid $bg-dark;
        border-bottom: 1px solid $bg-dark;
        color: $text-dark;
    }

    .actions {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    
        .actions-container {
            width: 300px;
            display: flex;
            justify-content: space-between;

            .action {
                height: 70px;
                width: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .action-icon {
                    background-color: $bg-light;
                    height: 20px;
                    width: 20px;
                    padding: 12px;
                    font-size: 20px;
                    border-radius: 50%;
                }
                .action-icon:hover {
                    background-color: $bg-med;
                }

                .action-description {
                    font-weight: 100;
                }
            }
            .action:hover {
                cursor: pointer;
            }
        }
    }

    .about {
        .about-content {
            background-color: $bg-light;
            padding: 12px;
            border-top: 1px solid $white;
            border-bottom: 1px solid $white;

            .heading {
                font-weight: 550;
                font-size: 90%;
                color: $text-light;
            }

            .content {
                margin: 0px;
            }

            .edit {
                color: $blue;
            }
            .edit:hover {
                cursor: pointer;
            }
        }
        
        .about-created {
            display: flex;
            flex-direction: row;
            
            img {
                border-radius: 4px;
            }
            
            .created-date {
                margin: 0px 10px;
                
                :hover {
                    color: $blue;
                }
            }
        }
    }
}

// Tool Tip

.tooltip .tooltip-text {
    font-weight: 550;
    font-size: 95%;
    padding: 7px 12px 7px 12px;
    top: calc(100% + 5px);
    width: max-content;
    max-width: 150px;
    left: unset;
    margin-left: unset;
}

// Expansion Panel

.collapsible {
    padding: 0px 10px;
}

.collapsible-header {
    cursor: pointer;
    width: 100%;
    height: 50px;
    padding: 0px 10px;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    color: $text-dark;
    font-weight: 600;
}
.collapsible-content {
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;

    .collapsible-content-container {
        padding: 0px 10px 10px 10px;
    }

    :first-child {
        border-radius: 4px 4px 0 0;
    }
    :last-child {
        border-radius: 0 0 4px 4px;
    }
}

// Mat Expansion Module fix

.mat-expansion-panel-spacing {
    margin: 0px;
}