<div class="container" id="aside-container">
    <div class="header">
        <div class="left">
            <span class="title"> Details </span>
            <span> {{ userName }} </span>
        </div>
        <div class="right" (click)="closeDetails()">
            <i class="fal fa-times"></i>
        </div>
    </div>
    
    <div class="body">
        <div class="user">
            <img class="display-picture" src="{{ user.displayPicture }}" alt="{{ userName }}">
            <div class="display-name">
                {{ userName }}

                <div class="is-active">
                    <ng-container *ngIf="user.isActive;else inactiveUser">
                        <div class="active"></div>
                    </ng-container>
                    <ng-template #inactiveUser>
                        <div class="inactive"></div>
                    </ng-template>
                </div>
            </div>
        </div>

        <div class="actions">
            <div class="action tooltip">
                <i class="action-icon fal fa-file-search"></i>
                <span class="action-description">Find</span>
                <span class="tooltip-text">
                    Find in @{{ userName }}
                </span>
            </div>
            <div class="action tooltip">
                <i class="action-icon fal fa-phone-alt"></i>
                <span class="action-description">Call</span>
                <span class="tooltip-text">
                    Call {{ userName }}
                </span>
            </div>
            <div class="action tooltip">
                <i class="action-icon fas fa-ellipsis-h"></i>
                <span class="action-description">More</span>
                <span class="tooltip-text">
                    More options for
                    <br>
                    @{{ userName }}
                </span>
            </div>
        </div>

        <div class="menu-section">
            <div class="about collapsible">
                <div class="collapsible-header" (click)="toggleSection('info')">
                    <label> About </label>
                    <div class="right">
                        <i *ngIf="(activeSection != 'info')" class="fal fa-angle-right inactive-section"></i>
                        <i *ngIf="(activeSection == 'info')" class="fal fa-angle-down active-section"></i>
                    </div>
                </div>
                <div class="collapsible-content" id="info">
                    <div class="collapsible-content-container">
                        <div class="about-content">
                            <span class="heading"> Display Name </span>
                            <p class="content">
                                {{ userName }}
                            </p>
                        </div>
                        <div class="about-content">
                            <span class="heading"> Local time </span>
                            <p class="content">
                                {{ date | date:'HH:mm' }}
                            </p>
                        </div>
                        <div class="about-content">
                            <span class="heading"> Phone number </span>
                            <p class="content link">
                                {{ user.phoneNumber }}
                            </p>
                        </div>
                        <div class="about-content">
                            <span class="heading"> Email address </span>
                            <p class="content link">
                                {{ user.email }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="collapsible">
                <div class="collapsible-header" (click)="toggleSection('pins')">
                    <label> Pinned </label>
                    <div class="right">
                        <span> {{ directMessage.pinnedIds.length }} </span>
                        <i *ngIf="(activeSection != 'pins')" class="fal fa-angle-right inactive-section"></i>
                        <i *ngIf="(activeSection == 'pins')" class="fal fa-angle-down active-section"></i>
                    </div>
                </div>
                <div class="collapsible-content" id="pins">
                    
                </div>
            </div>

            <div class="files collapsible">
                <div class="collapsible-header" (click)="toggleSection('shared_files')">
                    <label> Files </label>
                    <div class="right">
                        <i *ngIf="(activeSection != 'shared_files')" class="fal fa-angle-right inactive-section"></i>
                        <i *ngIf="(activeSection == 'shared_files')" class="fal fa-angle-down active-section"></i>
                    </div>
                </div>
                <div class="collapsible-content" id="shared_files">
                    <ng-container *ngFor="let file of directMessage.files">

                        <div class="file">
                            <div class="file-icon">
                                <img src="{{ file.previewImage }}" />
                            </div>
                            <div class="file-desc">
                                <span class="title"> {{ file.name }} </span>
                                <div>
                                    <span class="sender"> {{ file.senderName }} </span>
                                    <span class="time"> {{ file.time }} </span>
                                </div>
                            </div>
                        </div>

                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>