<div class="direct-message-container">
    <div class="direct-message-header flex">
        <div class="left flex" (click)="caret=!caret">
            <div class="icon">
                <i *ngIf="caret"  class="fas fa-caret-right"></i>
                <i *ngIf="caret!=true"  class="fas fa-caret-down"></i>
            </div>
            <div>
                Direct messages
            </div>
        </div>
       <div class="right">
            <i class="fas fa-plus"></i>
        </div>
    </div>


    <div *ngIf="caret!=true" class="direct-messages">
        <div class="direct-message-item" 
        *ngFor="let user of directMessagesList" 
        (click) = "selectItem(user.id)" 
        [class.selected]="user.id == selectedItem">
        <div class="left">
            <a class="message-content relative"  routerLink="/private">
                <img class="display-picture" src="{{ user.displayPicture }}" />
                <div class="online-indicator" [style.background-color]="(user.isActive==1) ? 'green': 'white'"></div>
                <span class="display-name">{{ user.firstName + ' ' + user.lastName }}</span>
            </a>  
        </div>
        <div class="right">
            <i class="fas fa-times"></i>
        </div>
        </div>
        <div class="direct-message-item">
            <div class="left">
                <a class="message-content">
                    <i class="fas fa-plus" style="background-color: rgba(255, 255, 255, 0.1)"></i>
                    <span>Add teammates</span>
                </a>  
            </div>
            
        </div>    
    </div>
</div>
 