.direct-message-container {
    color: #B7A5B7;
    line-height: 28px;
    font-family: Consolas,monaco,"Ubuntu Mono",courier,monospace!important;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    padding-top: 15px;
}

.flex {
    display: flex;
}
.direct-message-header {
    padding-left: 11px;
}

.icon {
    text-align: center;
    margin-right: 5px;
} 
.direct-message-header i:hover { 
    color: white;
    background-color: rgb(192, 192, 192,.2);
}
.direct-message-header i {
    font-size: 22px;
    height: 1em;
    width: 1em;
    padding: 3px;
}

.direct-message-header:hover {
    .right {
        visibility: visible;
    }
}

.right {
    position: absolute;
    right: 16px; 
    height: 1em;
    width: 1em;
    text-align: center;
    visibility: hidden;
}
.right i {
    font-weight: 500;
    display: hidden;
}
.right i:hover {
    color: white;
    background-color: rgb(192, 192, 192,.2);
}

.fa-plus {
    font-size: 20px;
}
a {
    padding-left: 30px;
}

a i {
    padding: 4px;
    border-radius: 20%;
    font-size: 16px;
    background-color: rgb(255, 255, 255, .95);
    
}

.selected {
    background-color: #1164A3;
    color:#ECF3F8;
} 
.direct-message-item {
    display: flex;
    padding-top:1.5px;
    padding-bottom: 1.5px;
}
.direct-message-item:hover {
    background-color: #350D36;
    .right {
        visibility: visible;
    }
}

.direct-messages {
    padding-top: 10px;
}
span {
    padding-left: 8px;
}


.online-indicator {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    z-index: 10;
    position: absolute;
    left: 46px;
    bottom: -5px;
    border: .3px solid black;

}
.relative {
    position: relative;
}
