.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.main {
    width: 100vw;
    height: calc(100vh - 40px);
    position: fixed;
}

.side-nav {
    background-color: #3F0E40;
    color: rgb(188,171,188);
    max-width: 40vw;
    min-width: 300px;
    flex-direction: column;
    font-size: 1rem;
}

.resizer, .resizer-1 {
    cursor: ew-resize;
    width: 5px;
}

.resizer:hover, .resizer-1:hover {
    background-color: rgb(40, 131, 216);
}
.content {
    min-width: 660px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    
    app-messaging-panel {
        width: 100%;
        flex-grow: 1;
    }

    app-aside {
        flex-grow: 0;
        min-width: 200px;
    }
}

.router-link {
    display: none;
}



// .container {
//     display: flex;
//     flex-direction: row;
//     height: calc(100% - 40px);
//     width: 100%;

//     app-side-nav {
//         background-color: #481449;
//         color: #F7F7F7;
//         width: 250px;
//     }

//     app-messaging-panel {
//         flex-grow: 1;
//     }

//     app-aside {
//         width: 400px;
//     }