.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.main {
    width: 100vw;
    // min-height: 100vh;   
    height: calc(100% - 40px);
}

.side-nav {
    background-color: #481449;
    color: #F7F7F7;
    max-width: 40vw;
    min-width: 300px;
    flex-direction: column;
    font-size: 1rem;
    overflow: auto;
}

.resizer, .resizer-1 {
    cursor: ew-resize;
    width: 5px;
}

.resizer:hover, .resizer-1:hover {
    background-color: rgb(40, 131, 216);
}
.content {
    min-width: 600px;
}

.detail {
    min-width:300px;
}
// .container {
//     display: flex;
//     flex-direction: row;
//     height: calc(100% - 40px);
//     width: 100%;

//     app-side-nav {
//         background-color: #481449;
//         color: #F7F7F7;
//         width: 250px;
//     }

//     app-messaging-panel {
//         flex-grow: 1;
//     }

//     app-aside {
//         width: 400px;
//     }