.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    app-side-nav {
        background-color: #481449;
        color: #F7F7F7;
        width: 250px;
    }

    app-messaging-panel {
        flex-grow: 1;
    }

    app-aside {
        min-width: 350px;
        width: 400px;
    }
}