.channel-container {
    color: #B7A5B7;
    line-height: 28px;
    font-family: Consolas,monaco,"Ubuntu Mono",courier,monospace!important;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    padding-top: 10px;
}
 
.flex {
    display: flex;
}
.channel-header {
    padding-left: 11px;
}
.channel-header:hover {
    .right {
        visibility: visible;
    }
}
.channel-item.selected:hover {
    background-color: #1164A3;
}
.channel-item:hover {
    background-color: #350D36;
}
.icon {
    text-align: center;
    margin-right: 5px;
}
.channel-header i:hover { 
    color: white;
    background-color: rgb(192, 192, 192,.2);
}
.channel-header i {
    font-size: 22px;
    height: 1em;
    width: 1em;
    padding: 3px;
}
.right {
    position: absolute;
    right: 16px; 
    height: 1em;
    width: 1em;
    text-align: center;
    visibility: hidden;
}
.right i {
    font-weight: 400;
    font-size: 18px;
}
.right i:hover {
    color: white;
    background-color: rgb(192, 192, 192,.2);
}

a {
    padding-left: 30px;
    text-decoration: none;
    color: #B7A5B7;
}

.channel-item i {
    padding: 4.5px;
    border-radius: 25%;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 13px;
    
}

.selected {
    background-color: #1164A3;
    color:#ECF3F8;
} 
span {
    padding-left: 8px;
}
