.apps-container {
    color: #B7A5B7;
    line-height: 28px;
    font-family: Consolas,monaco,"Ubuntu Mono",courier,monospace!important;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    padding-top: 15px;
}

.flex {
    display: flex;
}
.apps-header {
    padding-left: 11px;
}

.icon {
    text-align: center;
    margin-right: 5px;
}
.apps-header i:hover { 
    color: white;
    background-color: rgb(192, 192, 192,.5);
}
.apps-header i {
    font-size: 22px;
    height: 1em;
    width: 1em;
    padding: 3px;
}
.right {
    position: absolute;
    right: 16px; 
    height: 1em;
    width: 1em;
    text-align: center;
    visibility: hidden;
}
.right i {
    font-weight: 500;
    display: hidden;
}
.right i:hover {
    color: white;
    background-color: rgb(192, 192, 192,.5);
}

.fa-plus {
    font-size: 20px;
}
a {
    padding-left: 30px;
}
.apps{
    padding-top: 10px;

}
.app-item i {
    padding: 5px;
    border-radius: 20%;
    background-color: rgb(240, 240, 240,.1);
    font-size: 13px;    
}
.app-item {
    padding-top: 1.5px;
    padding-bottom: 1.5px;
}
.apps-header:hover {
    .right {
        visibility: visible;
    }
}
 
.selected {
    background-color: #1164A3;
    color:#ECF3F8;
} 
.app-item:hover {
    background-color: #350D36;
}
span {
    padding-left: 8px;
}