<div class="chatbar">
    <div class="left">
        <i class="fas fa-circle"></i>  
        <div class="username pointer">{{ user.firstName +  ' ' + user.lastName }}</div>
        <ng-container *ngIf="!starred"><i class="fal fa-star pointer" (click)="toggleStar()"></i> </ng-container>
        <ng-container *ngIf="starred"><i class="fas fa-star pointer" (click)="toggleStar()"></i> </ng-container>
    </div>
    <div class="right">
        <i class="fal fa-phone-alt pointer"></i>
        <i class="fal fa-info-circle pointer" (click)="header_toggleAside()"></i>
    </div>
</div>