$border-color : 1px solid rgb(128, 125, 125);
.chatbar {
    border-bottom: $border-color;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    .left, .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        // border: 1px solid black;
        margin-right: 2em;
        justify-content: space-between;
    }
    .right {
        width: 5em;
    }
}
.username {
    font-weight: 900;
    position: relative;
}
.fa-star{
    margin-left: 0.8em;
    font-size: 0.8em;
    color: $border-color;
}
img {
    object-fit: cover;
    height: 1em;
    width: 1em;
}
.fas.fa-star{
    color: rgb(3, 0, 209);
}