<div class="chatbar">
    <div class="left">
        <div>
            <span class="username pointer">
                <i [attr.class]="isGroup ? 'fas fa-lock' : 'fas fa-hashtag'"></i>
                {{ channelName }}
            </span>
            <ng-container>
                <i *ngIf="!starred" class="fal fa-star pointer" (click)="toggleStar()"></i>
                <i *ngIf="starred" class="fas fa-star pointer" (click)="toggleStar()"></i>
            </ng-container>
        </div>
        <div class="thumbtack">
            <img src="assets/img/thumbtack.png" class="">
            &nbsp; 0 | <span class="topic"> Add a topic </span>
        </div>
    </div>
    <div class="right">
        <i class="hover-icon far fa-user-plus pointer"></i>
        <i class="hover-icon fal fa-info-circle pointer" (click)="header_toggleAside()"></i>
    </div>
</div>