<html>

<head>
    
    
</head>

<body style="zoom: 110%;">
    
    <div class="applayout">
        <div class="header">
                <div class="left">
                    <h2>People</h2>
    
                    <br>
                    <p >Members</p>
                    <hr>
                </div>
                <div class="right">
                    <button (click)="openDialog()" class = "invite">Invite People</button>
    
                    <!--<button class="modal-link"><h3>Invite People</h3></button>-->
                </div>
    
    
        </div>


        <input type="text" placeholder="Search here" class="search">
        <div class="count">
            <p>40 members</p>
        </div>
        <br>
        <div class="row">
            <div class="column">
                <div class="imgcol">
                <div class="profile">
                <img src="https://ca.slack-edge.com/T01AA4Y2QCU-U01AGKXCB8R-gbcfcc3e548c-192" alt="Cinque Terre"
                    width="70%">
                </div> 
                    <div class="desc"><span>Gowtham</span><i class="fas fa-circle"></i>  </div>

                </div>


                
                <!--<div class="gallery">-->

                <img src="https://ca.slack-edge.com/T01AA4Y2QCU-U01DVRSVB4N-g080374f071a-512" alt="Cinque Terre"
                    width="70%">
                    <div class="desc">Akshey<i class="fas fa-circle"></i></div>
                
                    <img src="https://ca.slack-edge.com/T01AA4Y2QCU-U01AGKXCB8R-gbcfcc3e548c-192" alt="Cinque Terre"
                    width="70%">
                    <div class="desc">Sangeetha<i class="fas fa-circle"></i></div>
                    
            </div>
            <div class="column">

                <img src="https://ca.slack-edge.com/T01AA4Y2QCU-U01ATQMB3GQ-gce03178c792-192" alt="Cinque Terre"
                    width="70%">
                    <div class="desc">Sailesh<i class="fas fa-circle"></i></div>



                <img src="https://ca.slack-edge.com/T01AA4Y2QCU-U01AGKXCB8R-gbcfcc3e548c-192" alt="Cinque Terre"
                    width="70%">
                    <div class="desc">Sangeetha<i class="fas fa-circle"></i></div>

                
                <!--<div class="gallery">-->

                <img src="https://ca.slack-edge.com/T01AA4Y2QCU-U019X9EQC6S-g47eb034a49d-192" alt="Cinque Terre"
                    width="70%">
                    <div class="desc">Harini<i class="fas fa-circle"></i></div>

            </div>
            <div class="column">
                <img src="https://ca.slack-edge.com/T01AA4Y2QCU-U01AGKXCB8R-gbcfcc3e548c-192" alt="Cinque Terre"
                    width="70%">
                    <div class="desc">Manish<i class="fas fa-circle"></i></div>



                <img src="https://ca.slack-edge.com/T01AA4Y2QCU-U01DVRSVB4N-g080374f071a-512" alt="Cinque Terre"
                    width="70%">
                    <div class="desc">Keshav<i class="fas fa-circle"></i></div>





                <img src="https://ca.slack-edge.com/T01AA4Y2QCU-U01ASG9J51R-ge857252d4dc-192" alt="Forest" width="70%">
                <div class="desc">Mohan<i class="fas fa-circle"></i></div>


                <!--<div class="gallery">-->

                       </div>
            <div class="column">
                <img src="https://ca.slack-edge.com/T01AA4Y2QCU-U01ASG9J51R-ge857252d4dc-192" alt="Cinque Terre"
                    width="70%">
                    <div class="desc">Haaris<i class="fas fa-circle"></i></div>

                    <img src="https://ca.slack-edge.com/T01AA4Y2QCU-U019P7GJA2K-ga75f5c5eb6d-192" alt="Forest" width="70%">
                    <div class="desc">Joseph<i class="fas fa-circle"></i></div>


                    <img src="https://ca.slack-edge.com/T01AA4Y2QCU-U019X9EKW86-g9bae4fb8656-192" alt="Forest" width="70%">
                    
                    <div class="desc">Chandrahass<i class="fas fa-circle"></i></div>
                   
                    


            </div>
        </div>
 



    </div>
    <div class="modal" style="display: none;">
        <p>Some random modal content</p>
        <a href="#" class="close">close</a>
    </div>
    <div class="modal-bg" style="display: none;"></div>
</body>

</html>