<html>

<head>
    
    
</head>

<body>
    
    <div class="applayout">
        <div class="header">
            <div class="left">
                <h2>People</h2>

                <br>
                <p><u style="text-decoration: underline;text-decoration-color: green;">Members</u></p>
            </div>
            <div class="right">
                <button mat-button (click)="openDialog()"><h3>Invite People</h3></button>

                <!--<button class="modal-link"><h3>Invite People</h3></button>-->
            </div>


        </div>


        <input type="text" placeholder="Search here" class="search">
        <div class="left">
            <p>40 members</p>
        </div>
        <br>
        <div class="row">
            <div class="column">
                <div class="imgcol">

                <img src="https://ca.slack-edge.com/T01AA4Y2QCU-U01AGKXCB8R-gbcfcc3e548c-192" alt="Cinque Terre"
                    width="70%">
                    <div class="desc">Gowtham<input type="radio" class="online">  </div>
                    

                </div>


                
                <!--<div class="gallery">-->

                <img src="https://ca.slack-edge.com/T01AA4Y2QCU-U01DVRSVB4N-g080374f071a-512" alt="Cinque Terre"
                    width="70%">
                    <div class="desc">Akshey<input type="radio"></div>
                <img src="https://ca.slack-edge.com/T01AA4Y2QCU-U01AGKXCB8R-gbcfcc3e548c-192" alt="Cinque Terre"
                    width="70%">
                    <div class="desc">Sangeetha</div>

            </div>
            <div class="column">

                <img src="https://ca.slack-edge.com/T01AA4Y2QCU-U01ATQMB3GQ-gce03178c792-192" alt="Cinque Terre"
                    width="70%">
                    <div class="desc">Sailesh</div>
                    <input type="radio">


                <img src="https://ca.slack-edge.com/T01AA4Y2QCU-U01AGKXCB8R-gbcfcc3e548c-192" alt="Cinque Terre"
                    width="70%">
                    <div class="desc">Sangeetha</div>
                    <input type="radio">


                
                <!--<div class="gallery">-->

                <img src="https://ca.slack-edge.com/T01AA4Y2QCU-U019X9EQC6S-g47eb034a49d-192" alt="Cinque Terre"
                    width="70%">
                    <div class="desc">Harini</div>
                    <input type="radio" class="online">
            </div>
            <div class="column">
                <img src="https://ca.slack-edge.com/T01AA4Y2QCU-U01AGKXCB8R-gbcfcc3e548c-192" alt="Cinque Terre"
                    width="70%">
                    <div class="desc">Manish</div>
                    <input type="radio">


                <img src="https://ca.slack-edge.com/T01AA4Y2QCU-U01DVRSVB4N-g080374f071a-512" alt="Cinque Terre"
                    width="70%">
                    <div class="desc">Keshav</div>
                    <input type="radio" class="online">




                <img src="https://ca.slack-edge.com/T01AA4Y2QCU-U01ASG9J51R-ge857252d4dc-192" alt="Forest" width="70%">
                <div class="desc">Mohan</div>
                <input type="radio">

                <!--<div class="gallery">-->

                       </div>
            <div class="column">
                <img src="https://ca.slack-edge.com/T01AA4Y2QCU-U01ASG9J51R-ge857252d4dc-192" alt="Cinque Terre"
                    width="70%">
                    <div class="desc">Haaris</div>
                    <input type="radio">
                    <img src="https://ca.slack-edge.com/T01AA4Y2QCU-U019P7GJA2K-ga75f5c5eb6d-192" alt="Forest" width="70%">
                    <div class="desc">Joseph</div>
                    <input type="radio">

                    <img src="https://ca.slack-edge.com/T01AA4Y2QCU-U019X9EKW86-g9bae4fb8656-192" alt="Forest" width="70%">
                    
                    <div class="desc">Chandrahass</div>
                    <input type="radio" style="background-color: blue; color: blue;">
                    


            </div>
        </div>
 



    </div>
    <div class="modal" style="display: none;">
        <p>Some random modal content</p>
        <a href="#" class="close">close</a>
    </div>
    <div class="modal-bg" style="display: none;"></div>
</body>

</html>