$black: #000000;
$white: #FFFFFF;
$blue: #1264A3;
$bg-darkest: #C0C0C0;
$bg-dark: #E6E6E6;
$bg-med: rgb(220, 220, 220);
$bg-light: #F6F6F6;
$text-dark: #606060;
$text-light: #6F6F6F;

.container {
    border-right: 1px solid $bg-med;
    width: 450px;
    
    .header, .actions, .menu-section > * {
        background-color: $white;
        border-bottom: 1px solid $bg-med;
        color: $text-dark;
    }
    
    .body {
        height: calc(100vh - 101px);
        overflow-y: scroll;
        
        &::-webkit-scrollbar {
            width: 6px;    
            margin: 2px;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: inherit;
            border-radius: 20px;
            height: 10px;
            transition: width 2s;
        }
        
        &:hover {
            &::-webkit-scrollbar-thumb {
                background-color: rgb(114, 114, 114);
            }
        }
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 0px 15px;

        .left {
            display: flex;
            flex-direction: column;

            .title {
                font-size: 15px;
                font-weight: 600;
                color: $black;
            }

            .channel-name {
                /* i.fa-hashtag {
                    font-size: 11px;
                    font-weight: 100;
                }
                
                i.fa-lock {
                    font-size: 10px;
                    font-weight: 900;
                } */
            }
        }

        .right {
            padding: 5px 10px;
            font-size: 20px;
            border-radius: 4px;

            &:hover {
                background-color: $bg-light;
                cursor: pointer;
            }
        }
    }

    .actions {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    
        .action {
            height: 70px;
            width: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .action-icon {
                background-color: $bg-light;
                height: 20px;
                width: 20px;
                padding: 12px;
                font-size: 20px;
                border-radius: 50%;
            }
            .action-icon:hover {
                background-color: $bg-dark;
            }

            .action-description {
                font-weight: 100;
            }
        }
        .action:hover {
            cursor: pointer;
        }
    }

    .about {
        .collapsible-content-container > :first-child {
            border-radius: 4px 4px 0 0;
        }
        .collapsible-content-container > :last-child {
            border-radius: 0 0 4px 4px;
        }
        
        .about-content {
            background-color: $bg-light;
            padding: 12px;
            border-top: 1px solid $white;
            border-bottom: 1px solid $white;

            .heading {
                font-weight: 550;
                font-size: 90%;
                color: $text-light;
            }

            .content {
                margin: 0px;
            }

            .edit {
                color: $blue;
            }
            .edit:hover {
                cursor: pointer;
            }
        }
        
        .about-created {
            display: flex;
            flex-direction: row;
            align-items: center;
            
            img {
                border-radius: 4px;
            }
            
            span.created-date {
                margin: 0px 10px;
                font-weight: 100;
                font-size: 13px;
                line-height: 1.38463;

                &:hover {
                    color: $blue;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }

    .members {
        .button-section {
            height: 30px;
            display: flex;
            flex-wrap: wrap;
            padding: 15px 5px;
            
            .btn {
                background-color: $white;
                font-weight: 600;
                font-size: 15px;
                color: $text-dark;
                flex: 1;
                border: 1px solid $bg-darkest;
                border-radius: 4px;
                margin: 0px 5px;
                padding: 7px 0px;

                &:hover {
                    cursor: pointer;
                    background-color: $bg-light;
                }
            }

            .left {
                flex: 5;
            }
            .right {
                flex: 4;
            }
        }
    }

    .files {
        .collapsible-content {
            text-align: center;
            
            .file {
                background-color: $white;
                font-weight: 600;
                font-size: 15px;
                color: $text-dark;
                border: 1px solid $bg-darkest;
                border-radius: 4px;
                margin: 10px 15px;
                padding: 7px 10px;

                display: flex;
                flex-direction: row;
                align-items: center;

                &:hover {
                    cursor: pointer;
                    border: 1px solid $bg-darkest;
                    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
                }

                .file-icon {
                    height: 35px;
                    width: 35px;
                    display: block;
                    img {
                        object-fit: cover;
                        max-width:100%;
                        max-height:100%;
                    }
                }

                .file-desc {
                    text-align: left;
                    padding-left: 10px;
                    color: $text-light;
                    
                    .title {
                        font-weight: 600;
                        color: $text-dark;
                    }

                    .sender {
                        font-weight: 600;
                        font-size: 95%;
                    }

                    .time {
                        font-size: 95%;
                    }
                }
            }
        }
    }
}

// Reusable class
.chat-type.fa-hashtag {
    font-size: 11px;
    font-weight: 100;
}

.chat-type.fa-lock {
    font-size: 10px;
    font-weight: 900;
}

// Tool Tip

.tooltip .tooltip-text {
    font-weight: 550;
    font-size: 95%;
    padding: 7px 12px 7px 12px;
    top: calc(100% + 5px);
    width: max-content;
    max-width: 150px;
    left: unset;
    margin-left: unset;
}

// Expansion Panel

.menu-section {
    .collapsible-header {
        cursor: pointer;
        width: calc(100% - 30px);
        padding: 2px 15px;
        height: 50px;
        text-align: left;
        outline: none;
        font-size: 15px;
        
        display: flex;
        align-items: center;
        justify-content: space-between;

        * {
            color: $text-dark;
            font-weight: 600;
        }

        .right {
            display: flex;
            align-items: center;
            
            * {
                font-weight: 400;
            }

            span {
                position: relative;
                bottom: 1px;
            }

            i {
                font-size: 18px;
                width: 20px;
                text-align: right;
            }
        }
    }
    
    .collapsible-content {
        height: 0px;
        transition: height 0.3s ease-out;
        overflow: hidden;

        .collapsible-content-container {
            margin: 0px 15px 15px 15px;
        }
    }
}

// Mat Expansion Module fix

.mat-expansion-panel-spacing {
    margin: 0px;
}

// User Compoenent

.user-container {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 5px 15px;
    border: none;
    color: $text-dark;

    &:hover {
        background-color: $blue;
        cursor: pointer;
        color: $white;
    }

    > * {
        margin-right: 10px;
    }

    .dp {
        height: 20px;
        width: 20px;
        border-radius: 4px;
    }

    .name span {
        font-weight: 600;
    }

    .is-active {
        .active {
            background-color: green;
            height: 10px;
            width: 10px;
            border-radius: 50%;
        }
        .inactive {
            border-radius: 50%;
            height: 6px;
            width: 6px;
            border: 2px solid $text-light;
        }
    }
}