<div class="container" id="aside-container">
    <div class="header">
        <div class="left">
            <span class="title"> Details </span>
            <span class="channel-name">
                <i [attr.class]="channel.isGroup ? 'chat-type fas fa-lock' : 'chat-type fas fa-hashtag'"></i>
                {{ channel.name }}
            </span>
        </div>
        <div class="right" (click)="closeDetails()">
            <i class="fal fa-times"></i>
        </div>
    </div>
    
    <div class="body">
        <div class="actions">
            <div class="action tooltip">
                <i class="action-icon far fa-user-plus"></i>
                <span class="action-description">Add</span>
                <span class="tooltip-text">
                    Add people to
                    <i *ngIf="!channel.isGroup" class="chat-type fas fa-hashtag"></i>
                    {{ channel.name }}
                </span>
            </div>
            <div class="action tooltip">
                <i class="action-icon fal fa-file-search"></i>
                <span class="action-description">Find</span>
                <span class="tooltip-text">
                    Find in
                    <i *ngIf="!channel.isGroup" class="chat-type fas fa-hashtag"></i>
                    {{ channel.name }}
                </span>
            </div>
            <div class="action tooltip">
                <i class="action-icon fal fa-phone-alt"></i>
                <span class="action-description">Call</span>
                <span class="tooltip-text">
                    Start a call
                </span>
            </div>
            <div class="action tooltip">
                <i class="action-icon fas fa-ellipsis-h"></i>
                <span class="action-description">More</span>
                <span class="tooltip-text">
                    More options for
                    <br>
                    <i *ngIf="!channel.isGroup" class="chat-type fas fa-hashtag"></i>
                    {{ channel.name }}
                </span>
            </div>
        </div>

        <div class="menu-section">
            <div class="about collapsible">
                <div class="collapsible-header" (click)="toggleSection(0)">
                    <label> About </label>
                    <div class="right">
                        <i *ngIf="!sections[0]" class="fal fa-angle-right inactive-section"></i>
                        <i *ngIf="sections[0]" class="fal fa-angle-down active-section"></i>
                    </div>
                </div>
                <div class="collapsible-content" id="section-0">
                    <div class="collapsible-content-container">
                        <div class="about-content">
                            <span class="heading"> Topic </span>
                            <p class="content">
                                {{ channel.topic == '' ? 'What’s up for discussion?' : channel.topic }}
                            </p>
                            <a class="edit"> Edit </a>
                        </div>
                        <div class="about-content">
                            <span class="heading"> Description </span>
                            <p class="content">
                                {{
                                    channel.description == ''
                                    ? 'This is the one channel that will always include everyone. It’s a great spot for announcements and team-wide conversations.'
                                    : channel.description
                                }}
                            </p>
                            <a class="edit"> Edit </a>
                        </div>
                        <div class="about-content about-created">
                            <img src="assets/images/profile-1.png" />
                            <span class="created-date"> Created on {{ channel.created | date:'MMMM d, yyyy' }} </span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="members collapsible">
                <div class="collapsible-header" (click)="toggleSection(1)">
                    <label> Members </label>
                    <div class="right">
                        <span> {{ members.length }} </span>
                        <i *ngIf="!sections[1]" class="fal fa-angle-right inactive-section"></i>
                        <i *ngIf="sections[1]" class="fal fa-angle-down active-section"></i>
                    </div>
                </div>
                <div class="collapsible-content" id="section-1">
                    <ng-container *ngFor="let user of members">

                        <div class="user-container">
                            <img class="dp" src="{{ user.displayPicture }}" alt="user.firstName">
                            <div class="name">
                                <span> {{ user.firstName }} </span>
                                <span> {{ user.lastName }} </span>
                            </div>
                            <div class="is-active">
                                <ng-container *ngIf="user.isActive;else inactiveUser">
                                    <div class="active"></div>
                                </ng-container>
                                <ng-template #inactiveUser>
                                    <div class="inactive"></div>
                                </ng-template>
                            </div>
                        </div>
                        
                    </ng-container>
                    
                    <div class="button-section">
                        <button class="btn left">
                            See All {{ members.length }} Members
                        </button>
                        <button class="btn right">
                            Add People
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="collapsible">
                <div class="collapsible-header" (click)="toggleSection(2)">
                    <label> Shortcuts </label>
                    <div class="right">
                        <span> {{ shortcuts.length }} </span>
                        <i *ngIf="!sections[2]" class="fal fa-angle-right inactive-section"></i>
                        <i *ngIf="sections[2]" class="fal fa-angle-down active-section"></i>
                    </div>
                </div>
                <div class="collapsible-content" id="section-2">
                    
                </div>
            </div>

            <div class="collapsible">
                <div class="collapsible-header" (click)="toggleSection(3)">
                    <label> Pinned </label>
                    <div class="right">
                        <span> {{ channel.pinnedIds.length }} </span>
                        <i *ngIf="!sections[3]" class="fal fa-angle-right inactive-section"></i>
                        <i *ngIf="sections[3]" class="fal fa-angle-down active-section"></i>
                    </div>
                </div>
                <div class="collapsible-content" id="section-3">
                    
                </div>
            </div>

            <div class="files collapsible">
                <div class="collapsible-header" (click)="toggleSection(4)">
                    <label> Files </label>
                    <div class="right">
                        <i *ngIf="!sections[4]" class="fal fa-angle-right inactive-section"></i>
                        <i *ngIf="sections[4]" class="fal fa-angle-down active-section"></i>
                    </div>
                </div>
                <div class="collapsible-content" id="section-4">
                    <ng-container *ngFor="let file of channel.files">

                        <div class="file">
                            <div class="file-icon">
                                <img src="{{ file.previewImage }}" />
                            </div>
                            <div class="file-desc">
                                <span class="title"> {{ file.name }} </span>
                                <div>
                                    <span class="sender"> {{ file.senderName }} </span>
                                    <span class="time"> {{ file.time }} </span>
                                </div>
                            </div>
                        </div>

                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>