i {
    margin-right: 10px;
}
.customize-browse-container {
    color: #B7A5B7;
}

.customize-browse-item {
    padding-bottom: 7px;
}
.customize-browse-item.selected {
    * {
        color: white;
    }
    span {
        font-weight: bold;
    }
}

.item-content {
    padding-left: 16px;
    padding-right: 16px;
    height: 20px;
    line-height: 28px;
    cursor: pointer;
    font-size: 15px;
    font-family: Consolas,monaco,"Ubuntu Mono",courier,monospace!important;
    display: flex;
    align-items: baseline;

    i {
        display: inline-block;
    }

    span {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
    }
}

.customize-browse-item.selected:hover {
    background-color: #1164A3;
}
.customize-browse-item:hover {
    background-color: #350D36;
}

.selected {
    background-color: #1164A3;
    color:#ECF3F8;
}
 
a {
    text-decoration: none;
    color: #B7A5B7;
}