i {
    margin-right: 10px;
}
.customize-browse-container {
    color: #B7A5B7;
}

.customize-browse-item {
    margin-bottom: 7px;
}

.item-content {
    padding-left: 16px;
    padding-right: 16px;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    font-size: 15px;
    font-family: Consolas,monaco,"Ubuntu Mono",courier,monospace!important;
}

.item-content:hover {
    background-color: #350D36;
}

.selected {
    background-color: #1164A3;
    color:#ECF3F8;
}