.container {
    
    .body {
        height: calc(100vh - 103px);
        overflow-y: scroll;
        
        &::-webkit-scrollbar {
            width: 6px;    
            margin: 2px;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: rgb(114, 114, 114);  
            border-radius: 20px;      
            height: 10px;
            transition: width 2s;
        }
    }

}