.badge{
    border-top:0.1em solid rgb(59, 55, 55);
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    border-bottom: 0.1em solid rgb(59, 55, 55);
    position: relative;
}
.down_arrow{
    margin-bottom: 0px;
    position: relative;
    top: 6px;
}
.button_badge{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #3F0E40;
    border: none;
    color: #ffffff;
    font-weight: bold;
}
.desc {
    font-size: larger;
    font-weight: 600;
    padding-left: 10px;
}
.image{
    border-radius: 100px;
    padding-top: 10px;
    position: absolute;
    right: 15px;
    img{
        border-radius: 100px;
        height: 38px;
    }
}
.head{
    margin-top:20px;
    display: flex;
    flex-direction:row;
}
.head_image{
    margin-left: 20px;
    img{
        width: 40px;
        height: 40px;
    }
}
.info{
    margin-left: 10px;
}
.title{
    color: black;
    font-weight: bolder;
    font-weight: 900;
}
.subtitle{
    color: gray;
    font-size: small;
}
.buton{
    height: 10px;
}
.button:hover{
    background-color: #1164A3;
    color: white;
}
.partition{
    border-bottom: 1px solid silver;
}
.logo{
    margin-left: 90px;
    margin-top: 5px; 
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

button:focus {
    outline: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
}